@font-face {
   font-family: myFontRoboto;
   src: url(./../fonts/Roboto-Bold.ttf);
}
body {
    font-family: 'Lato';
    background-color: #fff;
}

.fa-btn {
    margin-right: 6px;
}

header .navbar{
    background: #fff;
    color: #000;
    border: none;
}

#navbar-collapse{
    overflow-y: scroll;
}

.navbar-brand{
    max-width: 340px;
    max-height: 140px;
    margin-bottom: 0;
    float: left;
}

.navbar-brand img{
    max-width: 220px;
    max-height: 140px;
    float: left;
    transform: translateY(-7px);

}

nav .navbar-toggle {
  transform: translateZ(5px);
  background: #000;
}

nav.navbar.shrink{
  max-height: 40px;
  background: #1c8cb5;
}

nav.navbar.shrink img{
  max-height: 35px;
}

nav.shrink .navbar-toggle {
  padding: 4px 5px;
  margin: 8px 15px 8px 0;
}

body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.jumbotron{
    height: 650px;
    background: #fff;
    color: #fff;
    margin-bottom: 0px;
    padding: 0;
}

.jumbotron-image{
    /*background-image: url('http://previews.123rf.com/images/jameschipper/jameschipper1310/jameschipper131000015/22964407-a-splash-cmyk-line-arrow-line-background-Stock-Vector.jpg');*/
     background-image: linear-gradient(to bottom, rgba(155, 0, 0, 0.2) 0%, rgba(155, 0, 0, 0.2) 1%), url(http://previews.123rf.com/images/jameschipper/jameschipper1310/jameschipper131000015/22964407-a-splash-cmyk-line-arrow-line-background-Stock-Vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    opacity: 0.7;
}

.jumbotron .container h1{
    color: #000;
    margin-top: 100px;
    font-weight: bold;
    line-height: 250%;
}

.jumbotron .container p{
    color: #000;
    transform: translate(0,-30px);
}

.jumbotron-sm { 
    padding-top: 24px;
    padding-bottom: 24px;
}

.h1 small {
font-size: 24px;
}

.services .container-fluid{
    margin: 0;
    border: 0px;
    padding: 0;
    background: #fff;
    color: #000;
    font-family: myFontRoboto;
}

.services .container-fluid .carousel-inner img{
    max-height: 600px;
    width:  100%;
    background: none;
}

.description{
    margin: 0;
    border: 0px;
    padding: 0;
    background: none;
}

.service-image{
    display: inline;
    float: right; 
}

.about{
    margin: 0;
    border: 0px;
    padding: 0;
    background: #1c8cb5;
    color: #fff;
    font-family: myFontRoboto;
}



.contact{
    font-family: myFontRoboto;
	margin: 0;
	border: 0px;
	padding: 0;
	background: #fff;
	color: #000;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

html body #map {
  height: 100%;
  margin: 0;
}

.footer {
    background: #1c8cb5 none repeat scroll 0 0;
    margin: 0;
    padding: 20px 0;
    font-family: myFontRoboto;
}
.footer_dv {
    width: 100%;
}
.footer_dv h4 {
    color: #000;
    font-family: roboto;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_dv ul li:first-child {
    border-top: medium none;
    box-shadow: none;
}
.footer_dv ul li {
    border-top: 1px solid #000;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
    color: #f1f2f2;
    padding: 5px 0;
}
.footer_dv ul li a{
    color: #fff;
}
.footer_dv p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
}
.navbar-inverse .navbar-nav > li > a {
    color : #060606;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color : #605555;
}
.z {
    z-index: 999;
}
.hero-heading {
margin-top: 150px !important;
font-family: 'Suez One', serif;
font-size: 48px;
letter-spacing: 4px;
line-height:90% !important;
margin-bottom: 60px;


}
.hero-sub {

    border-top : 1px solid black;
   font-family: 'Suez One', serif; 
   font-size: 24px;
   font-weight: 200; 
   letter-spacing: 4px;
    border-bottom : 1px solid black;
}
.list  {
    font-family: 'Suez One', serif; 
}
.heading {
     font-family: 'Suez One', serif; 
     font-size: 26px;
}
.text {
    font-family: 'Suez One', serif;
    font-size: 16px;
    letter-spacing: 1px;
}
